@use '../variables' as var;
@use '../mixins' as mix;

// ------------------------------------------------------
// Buttons
@each $key, $value in var.$theme-colors {
    .btn-#{$key} {
        @include mix.btn;
        transition: var.$transistion-all;

        background-color: $value;
        color: var.$body-color;

        &:hover {
            background-color: lighten($value, 8);
        }
    }
}

@each $key, $value in var.$theme-colors {
    .btn-outline-#{$key} {
        @include mix.btn;
        transition: var.$transistion-all;

        background-color: transparent;
        color: $value;
        border: 1px solid $value;

        &:hover {
            background-color: $value;
            color: var.$body-color;
        }
    }
}
