@use '../variables' as var;

// ------------------------------------------------------
// Text Colors
@each $key, $value in var.$colors {
    .text-#{$key} {
        color: $value;
    }
}

@each $key, $value in var.$theme-colors {
    .text-#{$key} {
        color: $value;
    }
}

// ------------------------------------------------------
// Font Variants
.text-mono {
    font-family: var.$font-family-mono;
}
