@use '../variables' as var;

// ------------------------------------------------------
// Mixin - Button
@mixin btn {
    display: inline-block;
    cursor: pointer;
    padding: var.$button-padding;
    margin: var.$button-margin;
    text-align: center;
    text-decoration: none;
    border: var.$button-border;
    font-weight: var.$button-font-weight;

    @if var.$rounded {
        border-radius: var.$button-border-radius;
    }
}
