@use '../variables' as var;

// ----------------------------------------------
// Base

body {
    font-family: var.$font-family-base;
    font-size: var.$font-size-base;
    background-color: var.$body-bg;
    color: var.$body-color;
    line-height: var.$line-hight-base;
}
